data/data.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="galeria">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="obra" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pintor" type="xs:string"/>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="anio" type="xs:integer"/>
                            <xs:element name="imagen" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:integer" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>